body {
    background:linear-gradient(90deg, Yellow,red) ;
}

.Kotak{
    background-color: aqua;
    width: 1000px;
    height: 500px;
    text-align: center;
    margin: 50px 50px;
    border: 3px solid rgb(3, 3, 3);
}

.Kotak img{
    border: 2px solid black;
    margin-top: 30px;
}

.container{
    width: 1025px;
    height: 200px;
    background-color: rgb(235, 18, 180);
    border: 2px solid black;
    margin: 50px 50px;
}

.container img{
    width: 200px; 
    height: auto; 
   margin-bottom: 1000px;

}


.Tombol{
    background-color: blue ;
    border: 1px solid black;
    border-radius: 10%;
    padding: 10px 40px;
    cursor: pointer;
}
.Tombol:hover {
    background-color: dimgrey;
}